.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  height: 50px;
  pointer-events: none;
}
/* 
@@ -15,15 +13,22 @@ */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(230, 225, 225);
  overflow: hidden;
}
.header-right {
  float: right;
} 
.App-header a {
  float: right;
  color: blue;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  
}

.App-link {
  color: #61dafb;

}
/* }
@@ -36,3 +41,17 @@
    transform: rotate(360deg);
  }
} */
.card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin:20px auto;
  text-align: center;
  font-family: arial;

}
.card img{width: 100%;}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



