.h1{
  background-color: rgb(233, 148, 148);
  color: aliceblue;
}

.header-left{
  float: left;
  padding-top: 12px;
  padding-left: 10px;
}
.header-right{
  padding-left: 800px;
  padding-top: 12px;
}
.header-right a{
  color: rgb(85, 85, 199);
  text-align: center;
  text-decoration: none;
  float: right;
  margin: 15px;
  font-size: 25px;
  line-height: 8px;
  border-radius: 4px;
}
.card{
  width: 220px;
  height: 255px;
  border: 2px solid rgb(177, 138, 216);
  margin-top: 5%;
  margin-left: 43%;
  box-shadow: 2px 2px 2px 2px blacks;
}
.card img{width: 100%;}
.fl{
  color: black;
}
.App-logo {
  height: 40vmin;
  height: 50px;
  pointer-events: none;
}
.friend {
 min-height: 20vh;
}



